/* SPDX-License-Identifier: CC0-1.0 */
.slidev-layout {
  a {
    --uno: text-slate-500 hover-text-slate-500;
  }

  a {
    border-bottom: none;
  }

  blockquote {
    --uno: rounded-none border-l-2 border-l-slate-500 m-2;
  }

  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  div,
  code {
    --uno: select-text;
  }

  #progress {
    --uno: absolute bottom-0 left-0 h-1 bg-slate-500;
  }
}
