/* SPDX-License-Identifier: CC0-1.0 */
.slidev-layout {
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  div,
  code {
    --uno: select-text;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }

  ul {
    font-size: 20px;
  }

  #progress {
    --uno: absolute bottom-0 left-0 h-1 bg-current;
  }
}
